.garage-template {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.view-title {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}

.pagination {
  margin-top: 10px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}